<?xml version="1.0" encoding="UTF-8" ?>
<configuration >

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%-5level] - %msg%n</Pattern>
        </encoder>
    </appender>
    <!-- 적용하는 프로젝트의  Base Package를 설정 -->
    <logger name="com.callor.hello" level="debug" />


	<!-- 적용하는 프로젝트의  controller와 service  Package의 level을 debug로 설정 -->
 
 

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>